<h1>Make a New Post</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :content, "Post" %>
  <%= f.text_area :content %><br>

  <%= f.submit "Submit Post" %>
<% end %>

